<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rezziqbal.moviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.rezziqbal.moviecatalogue.READ_DATABASE" android:protectionLevel="normal" />
    <permission android:name="com.rezziqbal.moviecatalogue.WRITE_DATABASE" android:protectionLevel="normal" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".reminder.MovieReleaseReminderReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".reminder.DailyReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ui.settingreminder.ReminderActivity" />

        <service
            android:name=".widget.TvStackService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widget.MovieStackService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widget.TvFavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tv_favorite_widget_info" />
        </receiver>
        <receiver android:name=".widget.MovieFavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movie_favorite_widget_info" />
        </receiver>

        <provider
            android:name=".provider.TvProvider"
            android:authorities="com.rezziqbal.moviecatalogue"
            android:exported="true"
            android:readPermission="com.rezziqbal.moviecatalogue.READ_DATABASE"
            android:writePermission="com.rezziqbal.moviecatalogue.WRITE_DATABASE" />
        <provider
            android:name=".provider.MovieProvider"
            android:authorities="com.rezziqbal.moviecatalogue"
            android:exported="true"
            android:readPermission="com.rezziqbal.moviecatalogue.READ_DATABASE"
            android:writePermission="com.rezziqbal.moviecatalogue.WRITE_DATABASE" />

        <activity android:name=".ui.favorite.FavoriteActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.detail.DetailActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>